	html,body{
    		overflow-x: hidden;
	}
	.button {
		background-color: white;
		border-color: white;
		border-radius: 1em;
		padding: 1em;
		display: flex;
		justify-content: center;
		margin: auto;
	}

	body {
                background-color: #1E1E2E;
                font-family: 'TheGoodMonolith', sans-serif;
		width: 100%;
        }
        section {
                background-color: #2e2e2e;
                border-radius: 1em;
                padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		margin: 0 auto;
		width: 65%;
                /*position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)*/
    	}
	hr {
		width: 100%;
  		margin-left: 0;
  		margin-right: 0;
	}
	#wrapper
	{
		background-color: #24273A;
		border-radius: 1em;
		display: flex;
		align-items: center;
		padding: 2em;
		width: 65%;
		text-align: center;
		margin: 0 auto;
		justify-content: center;
		padding: 2em;
	}
	.inner
	{
		padding: 1em;
		text-align: center;
		justify-content: center;
		display:inline-block;
	}
	#inner-special {
		margin: auto !important;
	}
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.top {
	margin: auto;
                 display: flex;
	width: 65%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #1f1e1e;
  position: fixed;
  top: 0;
  width: 100%;
}
/*.nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}*/

.nav a.icon {
  color: white;
  font-size: 3em;
}
div #myLinks {
	display: none;
}


.active {
  background-color: #04AA6D;
}
	.beegimage {
		width: 65%;
		height: auto;
	}
	.song {
		top: 50%;
		
	}
        a:link { text-decoration: none; }

        a:visited { text-decoration: none; }

        a:hover { text-decoration: underline; }

        a:active { text-decoration: none; }
	.left {
		text-align: left;
	}
        .big {
                font-size: 3.5em;
                text-decoration: bold;
        }
        .medium {
                font-size 7em;
        }
        .small {
                font-size: 2.5em;
        }
	.smallish {
		font-size: 1em;
	}
	.headertext {
		font-size: 1.7em;
		text-align: center;
	}
        .smaller {
                font-size: 1.5em;
        }
        .red {
                color: #ed8796;
        }
	.pink {
		color: #f5bde6;
	}
        .orange {
                color: #ffb380;
        }
        .yellow {
                color: #eed49f;
        }
        .green {
                color: #a6da95;
        }
        .cyan {
                color: #8bd5ca;
        }
        .purple {
                color: #8aadf4;
        }
        .white {
                color: white;
        }
        .grey {
                color: #a5adcb;
        }
	.specialimage {
		display: hidden;
	}
	.unhide {
		display: none;
	}
	.rainbowText {
  		background-image: linear-gradient(to right, #ed8796,#f5bde6,#ffb380,#eed49f,#a6da95,#8bd5ca,#8aadf4); 
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;  
  		animation: move 35s linear infinite;
	}	

	@keyframes move {
  		to {
    			background-position: 1000vh;
  		}
	}

	hr {
		background-color: #1E1E2E;
		color: #1E1E2E;
	}

	@media screen and (max-width: 700px) {
		.big {
			font-size: 4em;
		}
		section {
			width: 80%;
		}
		#wrapper {
			width: 80%;
			padding: 0;
			background-color: #1E1E2E;
		}
		.beegimage {
			width: 100%;
		}
		.hide {
			display: none;
		}
		.unhide {
			display: block;
		}
		.inner {
			padding: 0em;
			background-color: #1E1E2E;
		}



	}
	@media screen and (min-width: 1500px) {
	}

