	body {
                background-color: #1f1e1e;
                font-family: Ubuntu;
        }
        section {
		/*height: 100%;*/
                background-color: #2e2e2e;
                border-radius: 1em;
                padding: 2em;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
        }
        a:link { text-decoration: none; }

        a:visited { text-decoration: none; }

        a:hover { text-decoration: underline; }

        a:active { text-decoration: none; }
        .big {
                font-size: 5em;
                text-decoration: bold;
        }
        .medium {
                font-size: 4em;
        }
        .small {
                font-size: 3em;
        }
	.smallish {
		font-size: 3.5em;
	}
        .smaller {
                font-size: 2em;
        }
        .red {
                color: #FF9AA2;
        }
	.pink {
		color: #FFB7B2;
	}
        .orange {
                color: #FFDAC1;
        }
        .yellow {
                color: #f0eacb;
        }
        .green {
                color: #E2F0CB;
        }
        .cyan {
                color: #B5EAD7;
        }
        .purple {
                color: #C7CEEA;
        }
        .white {
                color: white;
        }
        .grey {
                color: #ababab;
        }
