	html,body{
    		overflow-x: hidden;
	}
	body {
                background-color: #1f1e1e;
                font-family: Ubuntu;
		width: 100%;
        }
        section {
                background-color: #2e2e2e;
                border-radius: 1em;
                padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		margin: 0 auto;
		width: 50%;
                /*position: absolute;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)*/
    	}
	hr {
		width: 100%;
  		margin-left: 0;
  		margin-right: 0;
	}
ul {
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #1f1e1e;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #1f1e1e;
  position: fixed;
  top: 0;
  width: 100%;
}
/*.nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}*/

.nav a.icon {
  color: white;
  font-size: 3em;
}
div #myLinks {
	display: none;
}
li {
  /*float: left;*/
}

li a {
  font-size: 1em;
  display: block;
  color: white;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  list-style-type: none;
}

.active {
  background-color: #04AA6D;
}
	.beegimage {
		width: 75%;
		height: auto;
	}
	.song {
		top: 50%;
		
	}
        a:link { text-decoration: none; }

        a:visited { text-decoration: none; }

        a:hover { text-decoration: underline; }

        a:active { text-decoration: none; }
        .big {
                font-size: 6em;
		line-height: 1em;
                text-decoration: bold;
        }
        .medium {
                font-size: 5em;
        }
        .small {
                font-size: 4em;
        }
	.smallish {
		font-size: 3em;
	}
	.headertext {
		font-size: 1.7em;
		text-align: center;
	}
        .smaller {
                font-size: 2em;
        }
        .red {
                color: #FF9AA2;
        }
	.pink {
		color: #FFB7B2;
	}
        .orange {
                color: #FFDAC1;
        }
        .yellow {
                color: #f0eacb;
        }
        .green {
                color: #E2F0CB;
        }
        .cyan {
                color: #B5EAD7;
        }
        .purple {
                color: #C7CEEA;
        }
        .white {
                color: white;
        }
        .grey {
                color: #ababab;
        }
	.rainbowText {
  		background-image: linear-gradient(to right, #FF9AA2,#FFB7B2,#FFDAC1,#FFDAC1,#E2F0CB,#B5EAD7,#C7CEEA); 
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;  
  		animation: move 35s linear infinite;
	}	

	@keyframes move {
  		to {
    			background-position: 1000vh;
  		}
	}

	@media screen and (max-width: 1000px) {
		.big {
			font-size: 4em;
		}
		section {
			width: 80%;
		}
		li a {
			font-size: 1.8em;
		}
	}
	@media screen and (min-width: 1500px) {
		li a {
			font-size: 1.5em;
		}
	}

